<footer>
    <div class="about">
        <h3>ABOUT</h3>
        <p>At Agrosolutions, we provide solutions to the farmer at every step. we guide farmers for enhancement of Agroindustry. Also we help them to increase their crop sales by providing profitable vendors to them, which in turn benefits both vendors and farmers.</p>
    </div>
    <div class="contact">
        <h3>CONTACT</h3>
        <p>For any query contact us at</p>
        <p class="green">9876543210</p>
        <p class="green">Siddhesh@gmail.com</p>
    </div>
    <div class="social">
        <h3>CODED BY</h3>
        <p class="green">Siddhesh Todkar</p>
        <div>
            <a class="green-icons" target="_blank" href="https://www.facebook.com/pages/category/Agriculture/Agrosolution-108475813891062/"><i class="fa fa-facebook"></i></a>
            <a class="green-icons" target="_blank" href="#"><i class="fa fa-twitter"></i></a>
            <a class="green-icons" target="_blank" href="https://instagram.com/agro.solution?igshid=e8tlwpja4clv"><i class="fa fa-instagram"></i></a>
            <a class="green-icons" target="_blank" href="#"><i class="fa fa-youtube"></i></a>                   
        </div>
    </div>
</footer>
