<div class="first-section" *ngIf="!openForm">
    <div class="title">Who are you?</div>
    <br>
    <div class="image">
        <img src="assets/images/farmerandvendor.jpg" alt="farmer and vendor">
        <div class="buttons">
            <button (click)="saveOccupation()">Vendor</button>
            <button (click)="saveOccupation()">Farmer</button>
        </div>
    </div>
    <br>
</div>
<div class="second-section" *ngIf="openForm">
    <div class="cross-icon">
        <i class="fa fa-arrow-left close-icon" (click)="openForm=false"></i>
    </div>
    <div class="form">
    <div class="title" style="margin-bottom: 50px;">Sign Up</div>
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="cpassword" placeholder="Confirm Password">
        <input type="button" value="Submit">
    </div>
</div>